version: 2.1
jobs:
  build:
    docker:
      - image: cimg/openjdk:17.0  # Image Docker avec Java
    steps:
      - checkout
      - run:
          name: "Installer les dépendances Maven"
          command: mvn install -DskipTests=true
      - run:
          name: "Exécuter les tests avec JaCoCo"
          command: mvn verify
      - run:
          name: "Uploader les rapports de couverture vers Codecov"
          command: |
            bash <(curl -s https://codecov.io/bash) -t $CODECOV_TOKEN
workflows:
  version: 2
  build_and_test:
    jobs:
      - build
